body{
  margin: 0;
  padding: 0;
}

.topContent{
  width: 100%;
  background: linear-gradient( to bottom, #C92B2B 0%, #C24E25 70%);
}

.header{
  margin-bottom: 10px;
  width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
  padding-top: 5px;
  padding-left: 5px;
}

.icon{
  height: 50px;
  width: 50px;
}

.profile{
  height: 109;
  width: 118;
}

input{
  background-color: #D9D9D9;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  justify-content: center;
}

.carrouselContainer{
  display: flex;
  flex: 1;
  justify-content: center;
}

.Carrousel {
  width: 50%;
  height: 200px;
}

.productsContainer{
  display: grid;
  justify-content: center;
}

.product {
  width: 150px;
  height: 150px
}

li{
  list-style: none;
  display: inline-flex;
}

ul p{
  display: inline;
    color: #333;
}

.footer{
  background: linear-gradient( to top, #C92B2B 0%, #C24E25 70%);
}

.footer h1, .footer p{
  color: #333;
  text-align: center;
}

.footer h1{
  font-size: 20px;
}


/* -------------------------------------------- */

.loginContainer{
  background-color: #F3E5E0;
  display: flex;
}

.loginCard{
  background: linear-gradient( to top, #C92B2B 0%, #C24E25 70%);
}